package shopping_list_view

import "github.com/unexpectedtoken/recipes/types"
import "github.com/unexpectedtoken/recipes/view/recipe"

templ ShoppingListOverview(recipes []types.Recipe) {
	<div>
		<h2 class="mb-4">Recipes in shopping list</h2>
		<a href="/shopping-list/ingredients">Generate ingredient list</a>
		@recipe_view.RecipeList(recipes)
	</div>
}
